<!DOCTYPE html>
<html lang="en">
  {{> head}}
<body class="{{page}}">
  <div class="page">
    <div id="headroom"></div>
    <div>
      {{> @partial-block }}
    </div>
    {{> footer}}
  </div>
</body>
</html>