<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  <div class="page">
    <div id="headroom"></div>
    <div id="add-to-slack">
      <h2>More Information</h2>
      <div class="more-information">
        <p><strong>Kona</strong> is a Slack app that posts activities from <a href="https://www.strava.com/">Strava</a> clubs to a Slack channel and allows users to see, query, and check Strava activities using <a href="https://get.slack.help/hc/en-us/articles/201259356-Slash-commands">Slack Slash commands</a>.</p>
        <h3>Pricing</h3>
        <p>Kona is free. It is maintained by me, <a href="https://www.felixrieseberg.com">Felix Rieseberg</a>, as a gift to my fellow runners, bikers, and swimmers.</p>
        <h3>Source Code</h3>
        <p>Kona is open source. Contributions and issue reports are welcome over on <a href="https://github.com/felixrieseberg/kona">GitHub</a>.</p>
        <h3>Contact</h3>
        <p>You can reach me at <a href="mailto:felix@felixrieseberg.com">felix@felixrieseberg.com</a>. If you are about to send me a feature request, please take a minute to consider that you're paying $0 for Kona. Requests that come bundled with as little as a coffee donation do stand a chance though!</p>
        <a href="https://www.strava.com/">
          <img alt="Powered By Strava" src="img/strava.png" height="40px">
        </a>
      </div>
    </div>
    {{> footer}}
  </div>
</body>