<div id="more-and-credits">
  {{#unless active.root}}<a href="/">Home</a>{{/unless}}
  {{#unless active.more}}<a href="/more">More Information</a>{{/unless}}
  {{#if isSignedIn}}
    <a href="/signout">Sign Out</a>
  {{/if}} | © 2018 Felix Rieseberg
</div>