<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="slack-app-id" content="A9FRRC5FY">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <title>Kona, a Slack Bot for Strava</title>
</head>