<a href="https://www.strava.com/oauth/authorize?client_id=23762scope=view_private&response_type=code&redirect_uri={{rootUrl}}/oauth/strava">
  <img alt="Connect with Strava" height="48" width="193" src="img/strava-connectwith.png" srcset="img/strava-connectwith.png 1x, img/strava-connectwith@2x.png 2x" />
</a>